<configuration>
  <dllmap os="linux" dll="DevIL.dll" target="libIL.so"/>
  <dllmap os="linux" dll="ILU.dll" target="libILU.so"/>
  <dllmap os="linux" dll="ILUT.dll" target="libILUT.so"/>
  <dllmap os="osx" dll="DevIL.dll" target="libIL.dylib"/>
  <dllmap os="osx" dll="ILU.dll" target="libILU.dylib"/>
  <dllmap os="osx" dll="ILUT.dll" target="libILUT.dylib"/>
</configuration>
